@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}
.navbar h1 {
  color: #0090C1;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #0090C1;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
.links span{
  color: white;
  background-color: #0090C1;
  border-radius: 8px;
  padding: 5px;
  cursor: pointer;
}
.overlay{
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /* display: none; */
}
.box{
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 50px;
}
.box h2{
  color: #0090C1;
  padding-bottom: 30px;
}
.a{
  width: fit-content;
}
.a label h3{
  width: 90px;
}
.a label{
  display: flex;
  padding-bottom: 20px;
}
/* list */
.list-preview {
  padding: 10px 16px;
  margin: 30px 0;
  box-shadow: rgba(0, 0, 0, 0.10) 0px 5px 15px 0px;
}
.list-preview h2 {
  font-size: 20px;
  color: #0090C1;
  margin-bottom: 8px;
}
.t{
  font-weight: bold;
}
